/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: dimgrey;
    color: white;
    padding: 40px;
}
nav{
    background: black;
    color: white;
    padding: 2px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0em;
  
    clear:left;
   /* position:fixed;*/
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
}
div{
    display: grid;
    grid-template-columns: 70%,30%;
}
section{
    grid-column: 1/2;
    background-color: white;
    padding: 10px;
    font-family: Times, serif;
    
}


aside{
    grid-column: 2/3;
    padding: 20px;
    background-color: dimgray;
    
}


.menu a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    height: 40px;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.menu a:hover{
    background: dimgrey;
    color: white;
}
.menu ul{
    list-style:none ;
    display: flex;
}
.menu li{
    position: relative;
    width: 100%;
    text-align: center;
}

.menu li:hover .submenu>li{
    top: 0;
    display: block;
}
.submenu li{
    display: none;
    position: relative;
}
.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.submenu li:hover{
    display: block;
}
